.Pokedex--container {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 10px;
    background: linear-gradient(to left, rgb(237, 237, 189) 0%, rgb(213, 212, 220) 100%);
    position: relative;
    padding-bottom: 200px;

    .Title {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        color: black;
        position: absolute;
    }

    .Pokedex--box {
        width: 100%;
        height: auto;
        position: relative;
        top: 100px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(6, 180px);
        gap: 20px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            height: 280px;
            width: 180px;
            padding-top: 10px;
            box-sizing: border-box;

            .img-cont {
                width: 120px;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                margin-bottom: 20px;

                .image {
                    image-rendering: pixelated;
                }
            }

            .id {
                margin: 0;
                padding: 5px 10px;
                border-radius: 10px;
                font-weight: lighter;
                font-size: 14px;
                mix-blend-mode: multiply;
            }

            .name {
                margin: 0;
                font-size: 20px;
                margin-top: 10px;
            }

            .type {
                margin: 0;
                font-weight: normal;
                margin-top: 10px;
                font-size: 15px;
            }
        }
    }
}