<div class="PasswordBackground--container">
    <h1 class="Title">Password Strength Background #39</h1>
    <div class="PasswordBackground--box" [ngStyle]="{'filter': 'blur('+ blurLevel +'px)'}">
    </div>
    <div class="form">
        <div class="form-head">
            <h1>Image Password Strength</h1>
            <p>Change the password to see the effect</p>
        </div>
        <div class="form-inp">
            <label for="">Email:</label>
            <input id="email" type="email" placeholder="Enter Email">
            <label for="">Password:</label>
            <input [(ngModel)]="value" (keydown)="passwordInput()" id="password" type="password"
                placeholder="Enter Password">
        </div>
        <button class="sub">Submit</button>
    </div>
</div>