<div class="soundBoard--container">
    <h1 class="Title">Sound Board Task #9</h1>
    <div class="soundBoard--box">
        <div class="each">
            <button class="but" (click)="playSound($event)">Applause</button>
        </div>
        <div class="each">
            <button class="but" (click)="playSound($event)">Boo</button>
        </div>
        <div class="each">
            <button class="but" (click)="playSound($event)">Gasp</button>
        </div>
        <div class="each">
            <button class="but" (click)="playSound($event)">Tada</button>
        </div>
        <div class="each">
            <button class="but" (click)="playSound($event)">Victory</button>
        </div>
        <div class="each">
            <button class="but" (click)="playSound($event)">Wrong</button>
        </div>
    </div>
</div>