<div class="PasswordGenerator--container">
    <h1 class="Title">Password Generator #31</h1>
    <div class="PasswordGenerator--box">
        <div class="password--container">
            <h1 class="title2">Password Generator</h1>
            <div class="generated">
                <div class="pass">{{ password }}</div>
                <button (click)="copyToClipboard()"> <fa-icon [icon]="faClipboard" /> </button>
            </div>
            <div class="inputs">
                <div class="each-input">
                    <label for="lenght">Password Length</label>
                    <input min="4" max="20" [(ngModel)]="passwordSize" id="lenght" type="number">
                </div>
                <div class="each-input">
                    <label for="lower">Include lowercase letters</label>
                    <input [(ngModel)]="lowerCase" id="lower" type="checkbox">
                </div>
                <div class="each-input">
                    <label for="upper">Include Uppercase letters</label>
                    <input [(ngModel)]="upperCase" id="upper" type="checkbox">
                </div>
                <div class="each-input">
                    <label for="number">Include Numbers</label>
                    <input [(ngModel)]="num" id="number" type="checkbox">
                </div>
                <div class="each-input">
                    <label for="upper">Include Symbols</label>
                    <input [(ngModel)]="sym" id="upper" type="checkbox">
                </div>
            </div>
            <button class="generate" (click)="randomPassword()">Generate Password</button>
        </div>
    </div>
</div>