<div class="form-wave--container">
    <h1 class="Title">Form Input Wave Task #8</h1>
    <div class="form-wave--box">
        <div class="form--container">
            <h1>Please Login</h1>
            <form action="">
                <app-input-controller [text]="'Email'" [moveUp]="moveE" [reversaDown]="reversaE"></app-input-controller>
                <input required class="inputs email-input" type="text" (focus)="moveEmail()" (blur)="notMoveEmail()">
                <app-input-controller [text]="'Password'" [moveUp]="moveP" [reversaDown]="reversaP"></app-input-controller>
                <input required class="inputs password-input" type="text" (focus)="movePass()" (blur)="notMovePass()">
                <button class="login-button">Login</button>
            </form>
            <p class="form-info">Don't have an account? <a class="form-register" href="">Register</a></p>
        </div>
    </div>
</div>