<div class="split-landing--container">
    <h1 class="Title">Split Landing Page Task #7</h1>
    <div class="split-landing--box">
        <div class="both-sides left-side">
            <div class="content-container l-container">
                <h1 class="title">PlayStation 5</h1>
                <button class="buy-button">BUY NOW</button>
            </div>
        </div>
        <div class="both-sides right-side">
            <div class="content-container r-container">
                <h1 class="title">Xbox Series X</h1>
                <button class="buy-button">BUY NOW</button>
            </div>
        </div>
    </div>
</div>