<div class="ContentPlaceholder--container">
    <h1 class="Title">Content Placeholder #24</h1>
    <div class="ContentPlaceholder--box">
        <app-card [loading]="loading"></app-card>
        <div *ngIf="loading">
            <div class="card-content" *ngIf="loading">
                <div class="top-image">
                    <div class="top-image-anim"></div>
                </div>
                <div class="text">
                    <div class="title">
                        <div class="title-anim"></div>
                    </div>
                    <div class="descript">
                        <div class="descript-anim"></div>
                    </div>
                    <div class="descript">
                        <div class="descript-anim"></div>
                    </div>
                    <div class="descript">
                        <div class="descript-anim"></div>
                    </div>
                    <div class="personal">
                        <div class="foto">
                            <div class="foto-anim"></div>
                        </div>
                        <div class="data-info">
                            <div class="name">
                                <div class="name-anim"></div>
                            </div>
                            <div class="date">
                                <div class="date-anim"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>